.all-courses{
    border-bottom: 1px solid rgb(190, 190, 190);
}
#level{
    font-size: 10px;
    border: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
}
h5{
    font-size: 1rem!important;
}
h5,h2{
    font-weight: 800!important;
}
p {
    margin-top: 0;
    margin-bottom: 0!important;
}