.courses{
    margin: 3%;
    padding: 3%;
}
.total{
    height: 200px;

}
.course-details, .total{
    -webkit-box-shadow: 0px 0px 31px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -9px rgba(0,0,0,0.75);
    border-radius: 10px;
}