@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
